@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior : smooth;
}

.pc-workstation{
  z-index: 9 !important;
  top: 0rem !important;
  left: 0 !important;
}

.butterfly{
  top: 13rem !important;
  left: -16rem !important;
}

@media only screen and (max-width:780px){
  .butterfly{
    top: 6rem !important;
    left: 0rem !important;
  }
}

@media only screen and (max-width:650px){
  .butterfly{
    top: 6rem !important;
    left: 6rem !important;
  }
}

.email-gradient{
  z-index: 3 !important;
  min-width: 80% !important;
  display: flex;
  justify-content: center;
  align-items:center;
}

.email-icon{
  z-index: 3 !important;
  position: relative !important;
  right: 0rem !important;
  top: -4rem;
}

.mail-container{
  z-index: 4 !important;
  max-height: 200px !important;
  position: relative;
  left: -11rem;
  .mail-rocket{
    z-index: 5 !important;
    position: relative;
    top: 8.7rem;
  }
}

@media only screen and (max-width:780px){

  .email-gradient{
    z-index: 3 !important;
    min-width: 60% !important;
  }

  .email-icon{
  top: -7rem;
  }

  .mail-container{
    z-index: 4 !important;
    min-height: 100%;
    position: relative;
    left: -6rem;
  }
  
}

@media only screen and (max-width:520px){

  .email-icon{
  top: -7rem;
  left: -2rem !important;
  }

  .magic-button-text{
    font-size: 0.8rem !important;
  }
  
}

@media only screen and (max-width:460px){

  .magic-button-text{
    font-size: 0.65rem !important;
  }

  .email-title{
    font-size: 0.8rem !important;
  }
  
}

@media only screen and (max-width:345px){

  .magic-button-text{
    font-size: 0.5rem !important;
    font-weight: 500;
  }
  
}

.span-gradient{
  background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) -30%,
        rgba(31, 83, 198, 1) 30%,
        rgba(0, 212, 255, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Makes the text color transparent, showing the background */
    display: inline-block;
}