@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.pc-workstation{
  z-index: 9 !important;
  top: 0rem !important;
  left: 0 !important;
}

.butterfly{
  top: 13rem !important;
  left: -16rem !important;
}

@media only screen and (max-width:780px){
  .butterfly{
    top: 6rem !important;
    left: 0rem !important;
  }
}

@media only screen and (max-width:650px){
  .butterfly{
    top: 6rem !important;
    left: 6rem !important;
  }
}